extends layout

block content
    div.hero-unit
        h1 Login
        form(class="form-horizontal", action="/login", method="post")
            div.control-group
                label(class="control-label", for="inputEmail") Email
                div.controls
                    input(type="text", name="inputEmail", id="inputEmail", placeholder="Email")
            div.control-group
                label(class="control-label", for="inputPassword") Password
                div.controls
                    input(type="password", name="inputPassword", id="inputPassword", placeholder="Password")
            div.control-group
                div.controls
                    label.checkbox Remember Me
                        input(type="checkbox")
                    button(type="submit", class="btn") Sign In
